# Django sozlamalari
DEBUG=True
SECRET_KEY=django-insecure-=4mnyv0g=3d+-nx=sff8j56#p-2dzn1jcy4t%&^p#_w0nqyhc6
ALLOWED_HOSTS=*

# Ma'lumotlar bazasi (Docker ichida avtomatik ravishda postgresql o'rnatiladi)
# Lokal sinovlar uchun 'sqlite3' yoki 'postgresql' tanlashingiz mumkin:
DB_ENGINE=postgresql

# PostgreSQL ma'lumotlar bazasi sozlamalari
POSTGRES_DB=quiz_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Celery va Redis sozlamalari
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
